* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      outline:none;
  }
  
  body {
    background: rgb(255, 255, 255)
    
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: rgb(240, 240, 240);
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #555;
    font-size: 24px;
  }
    
  .formulario {
    margin-bottom: 32px;
  }
  
  .inserir-tarefa {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid  #555;
    outline: none;
    width: 315px;
    background: transparent;
    color: rgb(17, 12, 12);
    font-weight: 700;
    transition: width 0.4s;
  }
  .inserir-tarefa:focus {
    width: 320px;
    transition: width 0.4s;
  }
  
  .inserir-tarefa::placeholder {
    color: #333030;
  }
  
  .botao-tarefa {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #555;
    color: #fff;
    font-weight: 800;
    text-transform: capitalize;
  }

  .botao-tarefa:disabled{
      background: #999;
      cursor: not-allowed;
  }

  .botao-editando {
    background:  linear-gradient(
        90deg,
        rgba(255, 119, 0, 1) 0%,
        rgba(255, 84, 17, 1) 100%
      );
    padding: 15px 12px;
    color: #fff;
    border-radius: 5px;
    border: #555 1px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 119, 0, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  .linha-formulario-editado {
    margin: 4px 3px 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 119, 0, 1) 0%,
      rgba(255, 84, 17, 1) 100%
      );
    padding: 15px;
    border-radius: 5px;
    width: 70%;
    border: none;
  }
  .tarefa-completa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 119, 0, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    text-decoration: line-through;
    opacity: 0.5;
  }
 
  /*
    .tarefa:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(255, 119, 0, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
  }
  */
  .icones {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .deletando-icone {
    margin-right: 5px;
    color: #fff;
  }
  
  .editar-icone {
    color: #fff;
  }